@font-face {
    font-family: "VGAVec";
    src: local("VGAVec"),
         url(/VGAVec.woff) format("woff");
}
@font-face {
    font-family: "VGAVec3";
    src: local("VGAVec3"),
         url(/VGAVec3.woff) format("woff");
}
@font-face {
    font-family: "VGAD";
    src: local("VGAD"),
         url(/VGAD.tff) format("tff");
}
@font-face {
    font-family: "VGA9";
    src: local("VGA9"),
         url(/VGA9.woff) format("woff");
}
